# Ignore result folders (time steps)
[1-9]*
0.*
postProcessing/

# Ignore the mesh (we rebuild this with scripts)
constant/polyMesh/

# Ignore log files
log.*

# Keep the base setup
!0/
!constant/
!system/
